* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Piefont;
  

}

.home,
.users,
.revenue,
.reports,
.products{
 display: flex;
 height: 90vh;
 align-items: center;
 justify-content: center;
 font-size: 100px;
 color: crimson;
 font-style: italic;
}

